<div class="container-fluid" id="modal-container">
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <div class="row">
                <h2>{{anime.title_english}}</h2>
                <p>{{anime.title_romaji}} - {{anime.title_japanese}}</p>
            </div>
            <div class="row justify-content-center">
                <img class="img-fluid" src={{anime.image_url_lge}}>
            </div>
            <div class="row">
                <a href="/anime/{{anime.id}}">Details</a>
            </div>

        </div>
        <div class="col-sm-9">
            Summary:
            <p class="modal-text">{{anime.description}}</p>
            <ul class="list-group">
                <li class="list-group-item">
                    Genres:<br>
                    {{#each anime.genres}}
                        {{this}} &nbsp; &nbsp;
                    {{/each}}
                </li>
                <!-- <li class="list-group-item">

                </li> -->
            </ul>









</div>
