<!--  For the modal business -->

<div class="container-fluid" id="modal-container">
    <div class="row justify-content-center" style="text-align: center;">
    <h2>{{anime.title_english}}</h2>
    <button class="closemodal">&#10006;</button>
    <div class="related">
        {{#if prequel}}
            <div class="clickable-list prequel" id="prequel" data-id="{{prequel.id}}">
                <div class="arrow-left"></div>
                <div class="rest">Prequel: <p>{{prequel.title_english}}</p></div>
            </div>
            {{else}}
            <div style="display:hidden;"></div>
        {{/if}}
        {{#if sequel}}
            <div class="clickable-list sequel" id="sequel" data-id="{{sequel.id}}">
                <div class="rest">Sequel: <p>{{sequel.title_english}}</p></div>
                <div class="arrow-right"></div>
            </div>
            {{else}}
            <div style="display:hidden;"></div>

        {{/if}}
        </div>

    </div>
<!-- List of easy to grab information -->
    </div>
    <div class="row">
        <div class="col-sm-4 preview-list justify-content-center">
                <ul class="list-group">
                  <li class="list-group-item">{{anime.title_romaji}}</li>
                  <li class="list-group-item">{{anime.title_japanese}}</li>
                  <li class="list-group-item">Studio: <br>{{anime.studio.0.studio_name}}</li>
                  <li class="list-group-item"><img class="img-fluid" style="max-width 300px;" src={{anime.image_url_lge}}></li>
                  <li class="list-group-item"><a href="/anime/{{anime.id}}">Details</a></li>

                  <li class="list-group-item">
                      Genres:<br>
                      <ul class="genre-list">
                      {{#each anime.genres}}
                          <li>{{this}}</li>
                      {{/each}}
                    </ul>
                  </li>
                </ul>

        </div>
        <div class="col">
            Summary:
            <p class="modal-text">{{{anime.description}}}</p>
            {{#if anime.youtube_id}}
            <div class="trailer-container">
            <iframe src="http://www.youtube.com/embed/{{anime.youtube_id}}"
            frameborder="0" allowfullscreen></iframe>
            </div>

               {{/if}}

</div>
