<!--  For the modal business -->

<style>
.trailer-container {
	position:relative;
	padding-bottom: 56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.trailer-container iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
    padding-left: 5%;
    padding-right: 5%;
}

.closemodal{
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: white;
    border-radius: 10px;
}

.closemodal:focus{
    outline: none;
}

.closemodal:hover{
    background-color: #dddddd;
}
/* Containing sequels/prequels*/
.related{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-overflow: ellipsis;
    justify-content: space-between;
}


.clickable-list:hover{
    background-color: #eeeeee;
}

.preview-list{
    text-align: center;
    display: flex;
}

.preview-list *{
    flex-wrap: wrap;
}

.genre-list{
    column-count: 2;
    column-gap: 0px;
    list-style: none;
    padding: 0px;
}

.clickable-list {
    /*border: 1px solid lightgrey;*/
    margin: 5px;
    padding: 5px 5px;
    font-size: 15px;
    cursor: pointer;
}


.clickable-list.prequel {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    text-align: left;
    width: 45%;
}

.clickable-list.sequel {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    text-align: right;
    width: 45%;
}

.clickable-list > p{
    color: blue;
}
/* For prequel/sequel content to make use of arrows */
.clickable-list.prequel > .rest{
    grid-column: 2 / 7;
    padding: 5px;
}

.clickable-list.sequel > .rest{
    grid-column: 1 / 6;
    padding: 5px;
}

.arrow-left {
  grid-column: 1 / 2;
  width: 100%;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid grey;
  border-bottom: 25px solid transparent;
}

.arrow-right {
    grid-column: 6 / 7;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid grey;
    border-bottom: 25px solid transparent;
}

@media (max-width: 769px){
    .arrow-left{
        border-top: 12.5px solid transparent;
        border-right: 25px solid grey;
        border-bottom: 12.5px solid transparent;
    }
    .arrow-right{
        border-top: 12.5px solid transparent;
        border-left: 25px solid grey;
        border-bottom: 12.5px solid transparent;
    }
}


</style>
<div class="container-fluid" id="modal-container">
    <div class="row justify-content-center" style="text-align: center;">
    <h2>{{anime.title_english}}</h2>
    <button class="closemodal">&#10006;</button>
    <div class="related">
        {{#if prequel}}
            <div class="clickable-list prequel" id="prequel" data-id="{{prequel.id}}">
                <div class="arrow-left"></div>
                <div class="rest">Prequel: <p>{{prequel.title_english}}</p></div>
            </div>
            {{else}}
            <div style="display:hidden;"></div>
        {{/if}}
        {{#if sequel}}
            <div class="clickable-list sequel" id="sequel" data-id="{{sequel.id}}">
                <div class="rest">Sequel: <p>{{sequel.title_english}}</p></div>
                <div class="arrow-right"></div>
            </div>
            {{else}}
            <div style="display:hidden;"></div>

        {{/if}}
        </div>

    </div>
<!-- List of easy to grab information -->
    </div>
    <div class="row">
        <div class="col-sm-4 preview-list justify-content-center">
                <ul class="list-group">
                  <li class="list-group-item">{{anime.title_romaji}}</li>
                  <li class="list-group-item">{{anime.title_japanese}}</li>
                  <li class="list-group-item">Studio: <br>{{anime.studio.0.studio_name}}</li>
                  <li class="list-group-item"><img class="img-fluid" style="max-width 300px;" src={{anime.image_url_lge}}></li>
                  <li class="list-group-item"><a href="/anime/{{anime.id}}">Details</a></li>

                  <li class="list-group-item">
                      Genres:<br>
                      <ul class="genre-list">
                      {{#each anime.genres}}
                          <li>{{this}}</li>
                      {{/each}}
                    </ul>
                  </li>
                </ul>

        </div>
        <div class="col">
            Summary:
            <p class="modal-text">{{{anime.description}}}</p>
            {{#if anime.youtube_id}}
            <div class="trailer-container">
            <iframe src="http://www.youtube.com/embed/{{anime.youtube_id}}"
            frameborder="0" allowfullscreen></iframe>
               {{/if}}
           </div>

</div>
