<!-- Image and basic information row
Image on left; title and aliases on right-->

<style>
.infotabs {
    display: flex;
    list-style: none;
}

.infotabs li{
    border: 1px solid grey;
    margin: 5px;
    padding: 4px;
    border-radius: 5px;
}

.tab-info{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

/*Put whatever we want to display by default*/
#synopsis.tab-info{
    display: block;
}
</style>
<div class="row">
    <div class="col-sm-3">
        <img class="img-fluid" src="{{ALdata.image_url_lge}}"
        class="img-fluid" style="margin: 0 auto; display: block;">
        <a class="logged-in" href="{{ALdata.id}}/favorite">Favorite</a>
    </div>

    <div class="col-sm-8">
        <h2>{{KITdata.titles.canonical}}</h2>
        <h4>{{KITdata.titles.japanese}}<br>
            [{{KITdata.titles.english}}]</h4>
            <!-- Synonyms -->
            {{#if ALdata.synonyms}}
            <p>Also known as:<br>
                {{#each ALdata.synonyms}}
                - {{this}}<br>
                {{/each}}
            </p>
            {{/if}}
        </div>
    </div>
    <br>
    <!-- Info row
    Rating on left, synopsis on the right-->
    <div class="row">
        <div class="col-sm-3">
            <br>
            {{#if KITdata.averageRating}}
            <progress value="{{KITdata.averageRating}}" max="100"></progress>
            <ul>
                <li>Kitsu Score:   {{KITdata.averageRating}}/100</li>
                <li>Kitsu Score Rank:      {{KITdata.ratingRank}}</li>
                <li>Kitsu Popularity Rank: {{KITdata.popularityRank}}</li>
            </ul>
            {{/if}}

            {{#if MALdata}}
            <br>

            <progress value="{{MALdata.statistics.score.value}}" max="10"></progress>
            <ul>
                <li>MAL Score: {{MALdata.statistics.score.value}} / 10</li>
                <li>MAL Score Ranking: {{MALdata.statistics.ranking}}
                    <li>MAL Popularity: {{MALdata.statistics.popularity}}</li>
                </ul>
                {{/if}}

                {{#if ALdata.mean_score}}
                <br>
                <progress value="{{ALdata.mean_score}}" max="100"></progress>
                <ul>
                    <li>Anilist Score (Average): {{ALdata.average_score}}/100</li>
                    <li>Anilist Score (Mean): {{ALdata.mean_score}}/100</li>
                </ul>
                {{/if}}


            </div>

            <div class="col-sm-8">

                <div>
                    <ul class="infotabs" data-id="hello">
                        <li data-id="synopsis">Synopsis</li>
                        <li data-id="sites">Official Sites</li>
                        {{#if ALdata.youtube_id}}
                        <li data-id="preview">Preview</li>
                        {{/if}}

                    </ul>
                </div>
                <div id="sites" class="tab-info">
                    {{#each ALdata.external_links}}
                        <p><a href="{{this.url}}">{{this.site}}</a></p>
                    {{/each}}
                </div>
                <div id="synopsis" class="tab-info">
                    Synopsis:
                    <p style="margin-left:20px; white-space: pre-wrap;">{{{MALdata.synopsis}}}</p>
                </div>
                <div id="preview" class="tab-info">
                    {{#if ALdata.youtube_id}}
                    <iframe src="http://www.youtube.com/embed/{{ALdata.youtube_id}}"
                    frameborder="0" allowfullscreen></iframe>
                    {{/if}}
                </div>




                </div>

                <!-- Making a new comment -->
            </div>
            <div class = "row">
                <div class="col-sm-8 logged-in">
                    <form method="POST" action="/anime/{{KITdata.id}}/comments">
                        <label for="comment">New Comment</label><br>
                        <textarea class="form-control" name="comment" rows="10" /></textarea>
                        <select class="form-control" name="rating">
                            <option value=3 selected hidden>Rating Score</option>
                            <option value=1>1 - Bad</option>
                            <option value=2>2 - Meh</option>
                            <option value=3>3 - Okay</option>
                            <option value=4>4 - Pretty good</option>
                            <option value=5>5 - GOAT</option>
                        </select>
                        <input type="hidden" class="form-control" name="animeId" value="{{ALdata.id}}">
                        <p>
                            <button style="float:left;" type="submit" class="btn btn-primary">Save Comment</button>
                        </p>
                    </form>
                </div>
            </div>

            <!-- Comment section -->
            <div class="row">
                <div class="col-sm-8" style="padding-top: 100px;">
                    <!--  Comments stuff with panels-->
                    <h4>Comments</h4>
                    {{#each comment}}
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-end">
                            <!-- <h5 class="mb-1">List group item heading</h5> -->
                            <small class="text-muted">{{this.rating}}/5</small>
                        </div>
                        <p class="mb-1">{{this.comment}}</p>
                        <small class="text-muted">By: {{this.author.username}}</small>
                        {{#if this.isMine}}
                        <form method="POST" action="/anime/{{this.animeId}}/{{this._id}}?_method=DELETE">
                            <button type="submit" class="btn btn-primary pull-right">Delete comment</button><br><br>
                        </form>
                        {{/if}}
                    </a>
                    {{/each}}
                </div>
            </div>
        </div>

<script>
$('body').on('click', '.infotabs > *', (e) => {
    // Need to get that data id and turn it into an id
    let target = "#" + $(e.target).data('id')
    $(".tab-info").hide()
    $(target).show()


    // console.log(e.data.value)
    // console.log(e.data.data("id"))

})
</script>
