<div class="container">
<!-- Image and basic information row
Image on left; title and aliases on right-->
    <div class="row">
        <div class="col-sm-3">
            <img class="img-fluid" src="{{anime.posterImage.small}}"
            class="img-fluid" style="margin: 0 auto; display: block;">
        </div>

    <div class="col-sm-8">
          <h2>{{anime.titles.canonical}}</h2>
          <h4>{{anime.titles.japanese}}<br>
              [{{anime.titles.english}}]</h4>
                {{#if anime.titles.abbreviated.length}}
                    <p>Also known as:<br>
                        {{#each anime.titles.abbreviated}}
                        - {{this}}<br>
                        {{/each}}
                    </p>
                {{/if}}
    </div>
</div>
<br>
<!-- Info row
Rating on left, synopsis on the right-->
<div class="row">
  <div class="col-sm-3">
      <br>
      {{#if anime.averageRating}}
      <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{anime.averageRating}}%" aria-valuenow={{anime.averageRating}} aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      Kitsu Rating:   {{anime.averageRating}}/100<br>
      Kitsu Rating Rank:      {{anime.ratingRank}} <br>
      Kitsu Popularity Rank: {{anime.popularityRank}} <br>
      {{/if}}

      {{#if anime2}}
      <br>
      <div class="progress">
          <div id="MalBar" class="progress-bar bg-success" role="progressbar" style="width: {{anime2.statistics.score.value}}%;" aria-valuenow={{anime2.statistics.score.value}} aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <script>
        // We need to do some math to make that bar look just right
        const malBar = document.getElementById('MalBar')
        let barscore = malBar.getAttribute("aria-valuenow") * 10
        malBar.style.width = String(barscore + "%")
      </script>
      MAL Rating:     {{anime2.statistics.score.value}}/10<br>
      {{/if}}

      {{#if anime3.mean_score}}
      <br>
      <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{anime3.mean_score}}%" aria-valuenow={{anime.averageRating}} aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      Anilist Rating: {{anime3.mean_score}}/100<br>
      Anilist Popularity Rank: {{anime3.popularity}}<br>
      {{/if}}


  </div>

  <div class="col-sm-8">
      Synopsis:
      <p style="margin-left:20px;">{{anime.synopsis}}</p>
  </div>

<!-- Making a new comment -->
  </div>
  <div class = "row">
  <div class="col-sm-3"></div>
      <div class="col-sm-8">
          <form method="POST" action="/anime">
            <label for="comment">New Comment</label><br>
            <textarea class="form-control" name="comment" rows="10" /></textarea>
            <select class="form-control" name="rating">
                <option value=3 selected hidden>Rating Score</option>
                <option value=1>1 - Bad</option>
                <option value=2>2 - Meh</option>
                <option value=3>3 - Okay</option>
                <option value=4>4 - Pretty good</option>
                <option value=5>5 - GOAT</option>
            </select>
            <input type="hidden" class="form-control" name="animeId" value="{{anime.id}}">
            <p>
                <button style="float:left;" type="submit" class="btn btn-primary">Save Comment</button>
            </p>
        </form>
      </div>
  </div>

<!-- Comment section -->
<div class="row">
<div class="col-sm-4"></div>
      <div class="col-sm-8" style="padding-top: 100px;">
          <!--  Comments stuff with panels-->
          <h4>Comments</h4>
          {{#each comment}}
              <div class="panel panel-default" style="width: 100%;">
                  <div class="panel-heading">User Rating: {{rating}} out of 5</div>
                  <div class="panel-body">{{this.comment}}</div>
                  <div class="panel-footer">
                  <form method="POST" action="/anime/{{animeId}}/{{_id}}?_method=DELETE">
                      <button style="float:left;" type="submit" class="btn btn-primary">Delete comment</button><br><br>
                  </form>
                  </div>

              </div>
          {{/each}}
          </div>
      </div>
</div>
