<div class="container">
<!-- Image and basic information row
Image on left; title and aliases on right-->
    <div class="row">
        <div class="col-3">
            <img class="img-fluid" src="{{anime.posterImage.small}}" style="float:left;">
        </div>

    <div class="col-8">
          <h2>{{anime.titles.canonical}}</h2>
          <h4>{{anime.titles.japanese}}<br>
              [{{anime.titles.english}}]</h4>
                {{#if anime.titles.abbreviated.length}}
                    <p>Also known as:<br>
                        {{#each anime.titles.abbreviated}}
                        - {{this}}<br>
                        {{/each}}
                    </p>
                {{/if}}
    </div>
</div>
<br>
<!-- Info row
Rating on left, synopsis on the right-->
<div class="row">
  <div class="col-3">
      <br>
      {{#if anime.averageRating.length}}
      <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{anime.averageRating}}%" aria-valuenow={{anime.averageRating}} aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      Average Rating:   {{anime.averageRating}}<br>
      Rating Rank:      {{anime.ratingRank}} <br>
      {{else}}
      No ratings yet!<br>
      {{/if}}
      Popularity Rank:  {{anime.popularityRank}} <br>
  </div>

  <div class="col-8">
      Synopsis:
      <p style="margin-left:20px;">{{anime.synopsis}}</p>
  </div>

<!-- Making a new comment -->
  </div>
  <div class = "row">
  <div class="col-sm-3"></div>
      <div class="col-sm-8">
      <form method="POST" action="/anime/{{anime.id}}/">
        <label for="comment">New Comment</label><br>
        <textarea class="form-control" name="comment" rows="10" /></textarea>
        <select class="form-control" name="rating">
            <option value=3 selected hidden>Rating Score</option>
            <option value=1>1 - Bad</option>
            <option value=2>2 - Meh</option>
            <option value=3>3 - Okay</option>
            <option value=4>4 - Pretty good</option>
            <option value=5>5 - GOAT</option>
        </select>
        <input type="hidden" class="form-control" name="kitsuId" value="{{anime.id}}">
        <p>
            <button style="float:left;" type="submit" class="btn btn-primary">Save Comment</button>
        </p>
      </form>
      </div>
  </div>

<!-- Comment section -->
<div class="row">
<div class="col-sm-4"></div>
      <div class="col-sm-8" style="padding-top: 100px;">
          <!--  Comments stuff with panels-->
          <h4>Comments</h4>
          {{#each comment}}
              <div class="panel panel-default" style="width: 100%;">
                  <div class="panel-heading">User Rating: {{rating}} out of 5</div>
                  <div class="panel-body">{{comment}}</div>
                  <div class="panel-footer">
                  <form method="POST" action="/anime/{{kitsuId}}/{{_id}}?_method=DELETE">
                      <button style="float:left;" type="submit" class="btn btn-primary">Delete comment</button><br><br>
                  </form>
                  </div>

              </div>
          {{/each}}
          </div>
      </div>
</div>
