<!-- reviews-index.handlebars -->
<h1>Reviews</h1>
</br>
</br>
<div class="row justify-content-between">
<span class = "reviews">
<!-- Whew lad, a whole lot of div shenanigans to make things work -->
<div class="d-flex align-self-stretch">

{{#each reviews}}
<div class="col-sm-4">
    <!-- I needed seperate div classes for these buttons to float
    properly. Inline didn't work as intended, so I decided on this-->
    <form method="POST" action="/reviews/{{this._id}}?_method=DELETE">
    <div class="buttons">
    <button type="submit" class="btn btn-default">Delete</button>
    </div>
    </form>

    <div class="buttons">
    <button onclick="location.href='/reviews/{{this._id}}/edit'" class="btn btn-default">
     Edit</button>
    </div>
    <!-- The reviews themselves! Wanted to put the reviews on the
    bottom right for ease of seeing; had to make that float right -->
    <div class="reviewindex">
        <a href="/reviews/{{this._id}}">
        <h3>{{this.title}}</h3></a>
        <small>{{this.showTitle}}</small>
        <p>{{this.description}}</p>
        </br>
        </br>
    </div>
  <hr>
</div>

{{/each}}
</div>
</div>
</span>
