<!-- views/shows-show.handlebars -->
<!-- Basic showing stuff -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>{{show.title}}</h1>
    <p>{{show.description}}</p>
</div>
<div class="col-sm-8 col-sm-offset-2" style="padding-top: 100px;">
    <!--  Comments stuff with panels-->
    <h4>Comments</h4>
    {{#each show.comments}}
        <div class="panel panel-default" style="width: 100%;">
            <div class="panel-heading">User Rating: {{showrating}} out of 5</div>
            <div class="panel-body">{{words}}</div>
            <div class="panel-footer">
            <form method="POST" action="/shows/{{../show._id}}/{{_id}}?_method=DELETE">
                <button style="float:left;" type="submit" class="btn btn-primary">Delete comment</button>

            </form>
            </div>

        </div>
    {{/each}}
    </div>
</div>


<div class="col-sm-6 col-sm-offset-3">
<form method="POST" action="/shows/{{show._id}}/comments">
  <label for="words">New Comment</label><br>
  <textarea class="form-control" name="words" rows="10" /></textarea>
  <select class="form-control" name="showrating">
      <option value=3 selected hidden>Rating Score</option>
      <option value=1>1 - Bad</option>
      <option value=2>2 - Meh</option>
      <option value=3>3 - Okay</option>
      <option value=4>4 - Pretty good</option>
      <option value=5>5 - GOAT</option>
  </select>
  <p>
      <button style="float:left;" type="submit" class="btn btn-primary">Save Comment</button>
  </p>
</form>
</div>
