<h1>Your favorites!</h1>
<div class="d-flex flex-column">

    {{#each favorite}}
    <div class="row">
        <div class="col-sm-3 justify-content-sm-center" style="text-align: center;">
            <a href="/anime/{{this.id}}">
                <img src={{this.image_url_lge}} class="img-fluid" style="margin: 10px auto; display: block;">
            </a>
            <a href="/favorites/{{this.id}}/delete" class="btn btn-info">Delete</a>
            <a href="/anime/{{this.id}}" class="btn btn-info">Details</a>
        </div>
        <div class="col-sm-9">
            <p>

                <div style="margin-left: 20px">
                    <h4>{{this.title_english}}</h4>
                    <h5>{{this.title_romaji}}</h5>
                    <h5>{{this.title_japanese}}</h5>
                    <p>{{{this.description}}}</p>

                    <hr>
                    {{this.synopsis}}
                </div>
            </p>
        </div>
    </div>
    <hr>
    {{/each}}

</div>
