<style>
.Container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.MAL-container{
    --imageHeight: 193px;
    --imageWidth: 133px;
    --textWidth: 175px;
    --titleHeight: 4em;
    --backgroundColor: #EEE;

    display: grid;
    background-color: var(--backgroundColor);
    /* grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr); */
    grid-template-rows: var(--titleHeight) var(--imageHeight) 2em;
    grid-template-columns: var(--imageWidth) var(--textWidth);

    height: calc(var(--titleHeight) + var(--imageHeight) + 2em);
    width: calc(var(--imageWidth) + var(--textWidth));

    box-sizing: content-box;
    margin: 10px;
    padding: 10px 0;

    border-radius: 10px;
    border: 1px solid lightgrey;
}

.MAL-title{
    grid-column: 1/3;
    grid-row: 1;
    font-size: 14px;
    color: #111111;
    line-height: 16px;
    text-align: center;
    text-justify: distribute;
}

.MAL-image{
    height: var(--imageHeight);
    width: var(--imageWidth);
    grid-column: 1;
    grid-row: 2;
}

.MAL-info{
    background-color: white;
    font-size: 10px;
    padding: 0px;
    grid-column: 2;
    grid-row: 2;
    border-left: 1px solid var(--backgroundColor);
}

    /* Buttons - infobox */
    .MAL-buttons{
        display: flex;
        width: 100%;
        justify-content: space-around;

    }

    .MAL-buttons div{
        width: calc(100%/3);
        border-right: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        font-weight: 600;
        text-align: center;
    }

    .MAL-buttons div:hover{
        cursor: pointer;
    }

    .MAL-buttons div:last-of-type{
        border-right: none;
    }

    /* Box - infobox */
    .MAL-infocontent{
        padding: 5px;
        display: block;
        height: calc(100% - 2.5em);
        overflow-y: scroll;
    }


/* Title stuff  */

.MAL-name{
    height: 2.5em;
}

.MAL-name h1{
    font-size: 15px;
}

.MAL-title-data{
    color: darkgrey;
    font-size: 12px;
    height: 2em;
    white-space: nowrap;
    overflow: hidden;
}

.MAL-title-data > span{
    margin: 0px .75em;
}


span.producer:after{
    content: ', ';
}

span.producer:last-of-type:after {
    content: '';
}

/* Genre buttons */

.genreBtn{
    padding: 5px;
    width: 75px;
    border-radius: 15px;
    margin: 5px;
    font-size: 8px;
}

.genreBtn.off{
    background-color: grey;
    color: white;
}

.genreBtn:focus{
    outline-color: #DDD;
}

.specialBtn{
    width: 150px;
    border-radius: 15px;
    margin: 10px;
    font-size: 10px;
}

.content-trailer{
    background-color: white;
    position: relative;
    left: 0;
    top: 0;
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
}

.content-trailer iframe{
    height: calc(var(--imageHeight));
    width: calc(var(--imageWidth) + var(--textWidth));
}


/* Footer */
.MAL-footer{
    grid-column: 1/3;
    grid-row: 3/4;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.trailer-btn{
    border-radius: 15px;
    padding: 5px;
}

/* Character formatting */
.character{
    margin-bottom: 10px;
}

.character p{
    margin: 0px;
    padding: 1px;
}

/* Episode formatting */
.episode{
    margin-bottom: 10px;
}
.episode h1{
    font-size: 14px;
}

.episode p{
    margin: 0px;
    padding: 1px 0px 0px 10px;
}

.episode .title{
    font-weight: bold;
    padding-left: 5px;
}

</style>
<!-- <div class="d-flex flex-row flex-wrap justify-content-center">
{{#each MAL_TV}}
    <div class="MAL-container">
        <div class="MAL-title">
            <div class="MAL-name"><h2>{{this.title}}<h1></div>
            <div class="MAL-title-data">
                {{#each this.producers}}
                    <span class="producer">{{this}}</span>
                {{/each}} | {{this.nbEp}} eps | {{this.fromType}}
            </div>
        </div>
        <img class="MAL-image" src="{{this.picture}}">
        <div class="MAL-summary">
            <div class="MAL-buttons">
                <div class="tab-synopsis">Story</div>
                <div class="tab-score">Score</div>
                <div class="tab-airing">Airing</div>
            </div>
            <div class="MAL-content" data-title="{{this.title}}">
                <div class="content-synopsis">{{this.synopsis}}</div>
                <div class="content-score">
                    <p class="score-MAL">MAL: {{this.score}}</p>
                    <p class="score-AL">Anilist: LOADING</p>
                    <p class="score-KIT">Kitsu: LOADING</p>
                </div>
                <div class="content-airing">
                    <p class="airing-day">Loading!</p>
                </div>
            </div>

        </div>
    </div>
{{/each}}
</div> -->

<div id="root"></div>



<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>


<!-- <script src="/js/home/tabs.js"></script> -->
<script>const data = {{{MAL_TV}}}</script>
<script src="/js/home/ALget.js"></script>
<script src="/js/home/MALget.js"></script>

<script type="text/babel" src="/js/home/react.js"></script>
