{{#each anime}}
<div class="flex-col mb-2 ml-2 card-container" data-name="{{this.title_english}}">
    <div class="card" data-id="{{this.id}}">
            <img class="card-img-top" src="{{this.image_url_lge}}" alt="Card image cap">
            <div class="card-overlay">
                <p>Ep.{{this.airing.next_episode}} airs in:</p>
                <p id="airing-time" data-date={{this.airing.time}}></p>

                Scores
                <ul class="overlay-scores">
                    <li>MAL: <span id="MALscore"></span></li>
                    <li>Anilist: {{this.average_score}}%</li>
                </ul>
            </div>
            </img>
        <div class="card-footer">
            <p id="title" class="text-capitalize">
                <em>{{this.title_english}}</em></p>
            <p id="score">AL: {{this.average_score}}%</p>

        </div>

    </div>
</div>

{{/each}}
